body {
  font-family: 'Roboto', sans-serif;
  background-color: #034f84;
  padding: 50px;
}
.red{
  color: red;
}
.center-text {
  text-align: center;
}
header{
 padding: 50px;
  height: 60%;
  background-size: cover;
  background-attachment: fixed;
}
main{
  display: grid;
  grid-template-areas:
    'inside article article'
    'inside footer footer';
  grid-gap: 40px;
  padding-top: 20px;
}
article{
  grid-area: article;
  padding: 30px;
  background-color: #daebe8;
}
inside{
  grid-area: inside;
  padding: 30px;
  background-color: #daebe8;
}
footer{
  grid-area: footer;
  padding: 30px;
  background-color:  #92a8d1;
  color: #b2b2b2;
}
